footer {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

footer a {
    color: var(--white);

    &:hover {
        text-decoration: underline;
    }
}

.logo {
    margin: 10px auto;
    max-width: 90px;
}
