.wrapper {
    position: fixed;
    bottom: 0;
    left: 75%;
    text-align: center;
    font-size: 2.2rem;
    background-color: var(--yel-primary);
    border-radius: 15px 15px 0 0;
    padding: 10px;
    width: 100%;
    max-width: 280px;
    z-index: 999;
    cursor: pointer;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MergeBlack';
    font-size: 2.6rem;
}

.total {
    margin-left: 10px;
}
