.today-menu {
    display: flex;
    background-color: var(--red-primary);
}

.intro {
    width: 25%;
    max-width: 234px;
    margin: 50px auto;
    text-align: center;
}

.intro-title {
    display: block;
    font-family: 'MergeBlack', sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.intro-description {
    display: block;
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: #fff;
}

.main-today-menu {
    display: flex;
    width: 75%;
    background-color: var(--white);
}

@media (max-width: 1224px) {
    .today-menu {
        display: block;
        width: 100%;
        background-color: var(--red-primary);
    }

    .intro {
        width: 100%;
        max-width: 40%;
        margin: 0 auto 40px;
        text-align: center;
    }

    .main-today-menu {
        display: block;
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .intro-title {
        font-size: 2.6rem;
    }
}

@media (max-width: 768px) {
    .intro {
        width: 70%;
        max-width: max-content;
    }
}
