.wrapper {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--black);
    position: relative;
    animation: myfirst 0.5s;
    animation-direction: alternate;
}

@keyframes myfirst {
    0% {
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        left: -200px;
        top: -100px;
    }
    100% {
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}

.category-item {
    padding: 10px;
}

.item-link {
    color: #f4d069;
    margin: 25px 0;
}
