.slideImage {
    width: 100%;
}

.wrapper {
    position: relative;
}

.order-btn {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #42210b;
    background-color: #fac437;
    text-decoration: none;
    padding: 6px 70px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: MergeBlack, sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 1224px) {
    .order-btn {
        padding: 6px 20px;
        font-size: 1.6rem;
    }
}
