.wrapper {
    background-image: url('../../assets/img/Menu/bg-top.png'), url('../../assets/img/Menu/bg-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center calc(100% - 80px);
    background-size: 100% auto, 100% auto;
    position: relative;
}

.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 180px auto 0;
    justify-content: center;
}
