.background {
    width: 100%;
}

.wrapper {
    position: relative;
}

.order-btn {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #42210b;
    background-color: #fac437;
    text-decoration: none;
    padding: 8px 60px;
    min-width: 240px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: MergeBlack, sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 50%);
    -moz-box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 20px 2px rgb(0 0 0 / 50%);
}
